<article class="mainElement">
    <div class="viewFileWrapper">
        <p><a class="returnBtn" routerLink="../../dashboard">Retour</a></p>

        <h2>Télécharger un fichier</h2>

        <div class="viewFileData">
            <span>{{file.name}}</span>
            <span>{{file.sizeLabel}}</span>
        </div>

        <div class="viewFileExpirationWrapper">
            <img src="img/info.png" width="16" alt="infoFileLogo"/> {{file.expirationLabel}}
        </div>

        <button id="downloadFileBtn" (click)="onDownload(file.path, file.name)"><img src="img/download.png" width="16" alt="downloadFileLogo"/> Télécharger</button>
    </div>
</article>