<p>dashboard works!</p>
<div class="fileListWrapper">
    @for (file of filesList; track file.id) {
        <div class="fileListItem">
            <img src=""/>
            <div class="fileListItemInfo">
                <p>{{file.name}}</p>
                <p>{{file.expirationLabel}}</p>
            </div>
            <div class="fileListItemControls">
                <button (click)="onDelete(file.id)"><img src="img/bin.png" width="12" alt="deleteFileLogo"/>Supprimer</button>
                <button (click)="onDownload(file.name, file.path)">Accéder<img src="img/right-arrow.png" width="12" alt="viewFileLogo"/></button>
            </div>
        </div>
    }
</div>
