<form class="mainElement" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Connexion</h2>

    @if (submitted) {
        @if (loginForm.get('email')?.errors || loginForm.get('password')?.errors) {
            <div class="invalid-feedback">
                @if (loginForm.get('email')?.errors?.['required'] || loginForm.get('password')?.errors?.['required']) {
                    <p>Email et/ou mot de passe requis</p>
                }
            </div>
        } @else if (loginError) {
            <div class="invalid-feedback"><p>Email et/ou mot de passe incorrect</p></div>
        }
    }

    <div class="formSection">
        <label>Email</label>
        <input name="email" type="text" placeholder="Saisissez votre email..." formControlName="email" aria-label="email" />
    </div>

    <div class="formSection">
        <label>Mot de passe</label>
        <input name="password" type="password" placeholder="Saisissez votre mot de passe..." formControlName="password" aria-label="password" />
    </div>

    <p><a routerLink="../register">Créer un compte</a></p>
    <input name="submit" type="submit" value="Connexion" />
</form>
